apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-ingress-on-prem
spec:
  project: on-prem-infra
  destination:
    namespace: kube-system
    name: bootc
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
  sources:
    - repoURL: 'https://kubernetes.github.io/ingress-nginx'
      chart: ingress-nginx
      targetRevision: 4.14.3
